:root {
  --white: #ffffff;
  --lightgray: #c5c5c5;
  --gray: #444;
  --black: #000;

  --lightblue: rgb(190, 215, 270);
  --blue: rgb(120, 160, 255);
  --darkblue: rgb(35, 150, 220);
  --blackblue: rgb(80, 110, 260);

  --lightyellow: #f3e28a;
  --yellow: #fae94d;
  --darkyellow: #fdc50e;

  --orange: #ff9900;

  --lightred: #fd4437;
  --darkred: #5a0000;
}

* {
  box-sizing: border-box !important;
}

body {
  max-width: 1200px;
  width: 800px;
  margin: 0 auto;
  font-family: "yekan", "arial" !important;
}

header,
footer,
main {
  width: 800px;
  height: max-content;
  margin: 0 auto 30px;
  box-sizing: border-box;
}
header {
  margin-top: 50px;
}
/*---------------------------Header--------------------------------*/

nav {
  position: relative;
  width: fit-content;
  margin-top: 0;
}

.nav-content-block {
  position: absolute;
  width: max-content;
  right: calc((100% - 300px) / 2);
  margin: 0 auto;
  z-index: 1;
}

.nav-picture-block {
  position: relative;
  width: 150px;
  margin: 32px auto 0;
  text-align: center;
}

.nav-picture-block > img {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 135px;
  height: 135px;
}

.nav-picture-border {
  right: 0;
  top: 0;
  border: 5px dashed var(--gray);
  border-radius: 50%;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.nav-text-block {
  width: 300px;
  text-align: center;
  margin: 16px auto 0;
  line-height: 1;
}

h1 {
  width: 110px;
  height: 45px;
  font-weight: 900;
  font-size: 1.7rem;
  text-align: center;
  color: var(--black);
  margin: 25px auto 0;
}

.nav-text-block:hover h1 {
  border-bottom: 3px solid var(--gray);
  border-radius: 10px;
  transition: 20ms all;
}

.nav-text-block > p {
  font-weight: 500;
  font-size: 1.3rem;
  white-space: nowrap;
  color: var(--gray);
  margin: 12px auto 0;
}

.nav-header-block {
  position: relative;
  width: 790px;
  height: 300px;
  background-image: url(../Imgs/HeaderBackground.jpg);
  opacity: 40%;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  margin: 0 auto;
  border: var(--lightyellow) 8px solid;
}

.nav-border-block {
  width: 800px;
  height: 310px;
  border-bottom-right-radius: 505px;
  border-top-left-radius: 505px;
  border-bottom-left-radius: 108px;
  border-top-right-radius: 108px;
  margin: 0 auto;
  border: 5px solid var(--yellow);
  position: absolute;
  top: -5px;
  right: -5px;
}

.nav-button-list-block {
  width: 800px;
  height: auto;
  margin-top: 30px;
  text-align: center;
}

.nav-button-link {
  display: block;
  margin: 0 24px;
  width: 100px;
  height: 40px;
  border: var(--yellow) 5px solid;
  border-radius: 50px;
}

.nav-button-link:hover {
  transform: scale(1.1);
  border: var(--darkyellow) 4px solid;
}

.nav-button-link:hover .header-button {
  border: var(--white) 2px solid;
  background-color: var(--blue);
}
.nav-button-link:hover .header-button p {
  color: var(--white);
  font-weight: 400;
  padding-top: 5 vpx;
  text-shadow: 0px 0px 100px;
}
.nav-button-link:active {
  transform: scale(0.9);
  border: var(--darkyellow) 4px solid;
}

.nav-button-link:active .header-button {
  background-color: var(--blackblue);
  border: var(--white) 1px solid;
}

.nav-button-link:active .header-button p {
  color: var(--white);
  font-weight: 100;
  padding: 4px;
}

.header-button {
  display: flex;
  width: 100%;
  height: 100%;
  border: var(--white) 3px solid;
  background-color: var(--lightblue);
  border-radius: 50px;
  align-items: center;
  padding-top: 3px;
}

.header-button p {
  width: inherit;
  line-height: 2;
  text-align: center;
}

.button-text {
  margin: 0 auto;
  font-weight: 600;
  color: var(--black);
  text-shadow: 0px 2px 1px var(--white);
}

/*---------------------------Main--------------------------------*/
.wrapper {
  width: inherit;
  height: max-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.section {
  width: 55%;
  height: 500px;
  border: 5px solid var(--yellow);
  border-radius: 30px;
  position: relative;
}
.section_content {
  width: 100%;
  height: 100%;
}
.section_back {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 40%;
  border-radius: 24px;
  background-color: var(--darkblue);
  position: absolute;
  top: 0;
  z-index: -1;
  border: 5px solid var(--lightyellow);
  border-radius: 26px;
}
.aside {
  box-sizing: border-box;
  width: 40%;
  height: 500px;
  border: 5px solid var(--yellow);
  border-radius: 30px;
  position: relative;
}
.aside_content {
  width: 100%;
  height: 100%;
}

.aside_back {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 40%;
  border-radius: 24px;
  background-color: var(--darkblue);
  position: absolute;
  top: 0;
  z-index: -1;
  border: 5px solid var(--lightyellow);
  border-radius: 26px;
}
/*---------------------------Footer--------------------------------*/

.footer-block {
  height: max-content;
  display: flex;
  justify-content: center;
  border-top: 8px solid var(--yellow);
  border-bottom: 8px solid var(--yellow);
  border-radius: 150px;
  padding: 50px;
  position: relative;
  background-color: #77757536;
}

.footer-link-block {
  width: 40%;
  height: inherit;
  position: relative;
}

.footer-list-block {
  width: inherit;
  margin: 30px auto 0;
}

.footer-list-background {
  background-color: rgba(0, 0, 0, 0.062);
  position: absolute;
  width: 71%;
  height: 94%;
  border-radius: 40px;
  margin-top: calc((268.625px - 249.188px) / 2);
  margin-right: calc((254.542px - 180.708px) / 2);
  top: 0px;
  right: 0px;
  z-index: -1;
  border-left: 1px solid var(--blackblue);
  border-right: 1px solid var(--blackblue);
}

.seperator-top-link {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.label-border-top-link {
  width: 21%;
  height: 40px;
  border-top: 4px solid var(--darkyellow);
  border-top-left-radius: 45px;
  position: absolute;
  top: 5px;
  left: 15%;
}

.label-border-bottom-link {
  width: 21%;
  height: 40px;
  border-top: 4px solid var(--darkyellow);
  border-top-right-radius: 45px;
  position: absolute;
  top: 5px;
  right: 15%;
}

.seperator-top-info {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.label-border-top-info {
  width: 27%;
  height: 40px;
  border-top: 4px solid var(--darkyellow);
  border-top-left-radius: 55px;
  position: absolute;
  top: 5px;
  left: 15%;
}

.label-border-bottom-info {
  width: 27%;
  height: 40px;
  border-top: 4px solid var(--darkyellow);
  border-top-right-radius: 55px;
  position: absolute;
  top: 5px;
  right: 15%;
}

.seperator-bottom {
  margin-left: auto;
  margin-right: auto;
}

.seperator-bottom-border {
  width: 70%;
  height: 40px;
  margin: 0 auto 0;
  border-bottom: 4px solid var(--orange);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.seperator-links-label {
  position: absolute;
  top: -24px;
  right: 0;
  width: 73px;
  padding: 16px 5px 0;
  margin: 0 91px 0 0;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: 3px solid var(--darkyellow);
  border-right: 3px solid var(--darkyellow);
  border-left: 3px solid var(--darkyellow);
}

.seperator-info-label {
  position: absolute;
  top: -24px;
  right: 0;
  width: 73px;
  padding: 16px 5px 0;
  margin: 0 186px 0 0;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: 3px solid var(--darkyellow);
  border-right: 3px solid var(--darkyellow);
  border-left: 3px solid var(--darkyellow);
}
.seperator-top-info p,
.seperator-top-link p {
  color: var(--black);
  background-color: rgba(0, 0, 0, 0.062);
  font-size: 16px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: -1px 1px var(--white);
}
.footer-button-link {
  width: fit-content;
  height: fit-content;
}

.footer-link-list-item {
  margin-bottom: 10px;
  background-color: var(--orange);
  padding: calc((50% - 2rem) / 2);
  border-radius: 50px;
  border: 3px solid var(--darkyellow);
}

.footer-link-list-item p {
  width: inherit;
  line-height: 2;
  text-align: center;
}

.footer-info-block {
  width: 70%;
  height: inherit;
  position: relative;
}

.footer-info-list-item {
  margin-bottom: 30px;
}

.footer-info-background {
  background-color: rgba(0, 0, 0, 0.062);
  position: absolute;
  width: 70.5%;
  height: 96%;
  border-radius: 40px;
  margin-top: calc((302px - 282.875px) / 2);
  margin-right: calc((445.458px - 313px) / 2);
  top: 0px;
  right: 0px;
  z-index: -1;
  border-left: 1px solid var(--blackblue);
  border-right: 1px solid var(--blackblue);
}

.footer-info-list-item > .title-text {
  margin-right: 10%;
  margin-bottom: 10px;
}

.block-text {
  text-align: left;
  margin-left: 15%;
}

a > .block-text {
  font-weight: 100;
  color: var(--darkyellow);
  text-shadow: -1px 2px 5px var(--darkred);
  letter-spacing: 0.8px;
}

.footer-info-list-item > a[href="tel:+989038964501"] > .block-text {
  font-family: "arial";
}

.footer-info-list-item > .block-text {
  font-weight: 100;
  color: var(--darkyellow);
  text-shadow: 2px 2px 5px var(--darkred);
}

.footer-list > ul > li > .title-text {
  font-size: 1.05rem;
  color: var(--black);
  text-shadow: 1px 1px 0px var(--lightgray);
}

.footer-back {
  width: 100%;
  height: 100%;
  border-radius: 150px;
  background: url(../Imgs/HeaderBackground.jpg);
  opacity: 70%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}

/*---------------------------Animatiom--------------------------------*/

@keyframes header {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header-user-animation {
  animation-name: header;
  animation-duration: 30s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*---------------------------Element--------------------------------*/

a {
  text-decoration: none;
}

a:visited {
  color: var(--gray);
}

section,
aside {
  display: block;
}
.container {
  display: flex;
  justify-content: center;
}
